* {
  background-color: black;
}

.movie-grid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(4, auto);
}

.movie-card {
  flex-direction: column;
  border: 2px solid #f9c132;
  border-radius: 25px;
  width: 250px;
  height: 300px;
  margin-top: 20px;
}

.movie-card-child {
  background-color: black;
}

.poster {
  border-bottom: 2px solid #f9c132;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 100%;
}

.title {
  padding: 10px 15px;
  flex-wrap: wrap;
  color: white;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

@media (max-width: 1140px) {
  .movie-grid {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 900px) {
  .movie-grid {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  .movie-card {
    width: 180px;
    height: 230px;
  }
}
